/* slant text*/
.slant {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
 
  }
  
  .slanted {
    color:white;
    
    
    transform: rotate(-5deg)
               skew(-5deg);
    background-color: black;
  }

  .discover{

     text-transform: uppercase;
    transform: rotate(-9deg)
               skew(-9deg);
  }

  